<h2>Numbers</h2>

In [2]:
# With Hex we can translate numbers into his hexadecimal version 
hex(4635)

'0x121b'

In [3]:
# Bin helps for the binary representation
bin(534)

'0b1000010110'

In [4]:
# pow for the power of a number

4**4

256

In [5]:
pow(4,4)

256

In [6]:
#abs for absolutes
abs(-3)

3

In [7]:
# round helps for rounding to the near entire
round(9.8)

10

In [11]:
round(9.09,1) # the second argument is the decimals we want to be rounded

9.1

<h2>Strings</h2>

In [2]:
s = 'hello world'

In [3]:
# capitalize caps the first letter
s.capitalize()

'Hello world'

In [4]:
# upper for caps all the letter
s.upper()

'HELLO WORLD'

In [5]:
# lower for lowecase every letter
s.lower()

'hello world'

In [7]:
# count to know how many letter are
s.count('o')

2

In [8]:
# find for returning the index where the letter is
s.find('o')

4

In [9]:
# center allow to place the string centered 
s.center(20,'z') # first argument is the total lenght, segon is what we want to be sorrounded

'zzzzhello worldzzzzz'

In [11]:
# use \ to tab
print('hello\thi')

hello	hi

In [12]:
# expandtabs is similar to print
'hello\thi'.expandtabs()

'hello   hi'

In [13]:
# isalnum checks if all the characters are alphanumeric

s.isalnum() # false since there is a ' ' between

False

In [14]:
'hello'.isalnum()

True

In [15]:
# or only alphabetic

'hello'.isalpha()

True

In [16]:
# check if all characters are lower case

s.islower()

# same for isupper if there are all uppercase

True

In [17]:
# of isspace if al characters are a space ' '
s.isspace()

False

In [19]:
# endswith is usefull for checking the last character 
s.endswith('d')

True

In [20]:
# split to return a list 
s.split(' ')

['hello', 'world']

In [22]:
# join to return 
s.join(' ')

' '

In [23]:
s

'hello world'

In [24]:
# partition search for the separator in the string
s.partition('i')

('hello world', '', '')

In [25]:
s.partition(' ')

('hello', ' ', 'world')

<h2>Sets

In [26]:
s = set()

In [27]:
s.add(1)

In [29]:
s.add(2)

In [30]:
s

{1, 2}

In [31]:
s.add(2)

In [32]:
s # a set can not have repeateble items

{1, 2}

In [35]:
s.clear() # clears all the items on the set

In [36]:
s

set()

In [37]:
s = {1,2,3} 

sc = s.copy() # we copied into sc the same set as s

In [38]:
sc

{1, 2, 3}

In [39]:
sc.add(4)

In [43]:
sc.difference(s) # returns the different item from 2 sets

{4}

In [44]:
s1 = {1,2,3} 
s2 = {1,2,4}

In [45]:
# intersection returns the common value
s1.intersection(s2)

{1, 2}

In [46]:
# we can add update the first set to be equal as the common values, the intersection that was returned before

s1.intersection_update(s2)

In [47]:
s1

{1, 2}

In [48]:
s2

{1, 2, 4}

<h2>Dictionaries

In [49]:
d = {'k1':1,'k2':2}

In [50]:
# we can add logic into the dictionary

{x:pow(x,2) for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [51]:
# dictionary comprehension its hard to read, but not recommended.