In [1]:
myset = set()

In [2]:
myset

set()

Sets are unordered lists with UNIQUE elements inside

In [3]:
myset.add(1)

In [4]:
myset

{1}

In [5]:
myset.add(2,3,4)

TypeError: set.add() takes exactly one argument (3 given)

In [6]:
myset.add(2)

In [7]:
myset

{1, 2}

It is usefull in case we need a list with unique values:

In [8]:
mylist=[1,2,3,3,3,1,1,1,1,5,5,3,3,5,3]

In [9]:
set(mylist)

{1, 2, 3, 5}

Since it gives a result, we can assign it to a variable